<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="D:\3)Учеба\КПП\lab1\src\main\resources\static\404.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
    <div class="error">
        <form action="/{errorPage}" method="post">
            <b><div font>404 Error</div></b>
            <button type="submit">Вернуться на главную страницу</button>
        </form>
    </div>
</body>
</html>