<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form action="/home" method="post">
        <div style="width: 100px; height: 250px; border:1px solid; margin:auto;">
            <p>расстояние</p>
            <input type="text" name="length" style="width: 50px"/>
            <p>скорость</p>
            <input type="text" name="speed" style="width: 50px"/>
            <button type="submit">вычислить</button>
            <p th:text="${time}"/>
        </div>
    </form>
</body>
</html>