<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="home.css" rel="stylesheet">
</head>
<body>
    <form action="/home" method="post">
        <div class="MainBorder" style="width: 200px; height: 180px; border:2px solid; margin:auto;">
            <div>расстояние</div>
           <input type="text" name="inputLength" style="width: 50px" />
            <div>скорость</div>
            <input type="text" name="inputSpeed" style="width: 50px"/><br><br>
            <button type="submit">вычислить</button>
            <p th:text="${time}"/>
        </div>
    </form>
</body>
</html>